{% extends "base.html" %}

{% block title %}
Войти
{% endblock %}

{% block body %}
<div class="container_log">
  <div class="wrapper">
    <div class="title">
      Войти
    </div>
    <form method="post">
      <div class="field">
        <input type="email" name="email" required>
        <label>Email</label>
      </div>

      <div class="field">
        <input type="password" name="password" required>
        <label>Пароль</label>
      </div>

      <div class="content">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
              {% for message in messages %}
                <li style="color: #262626;">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        
        <div class="pass-link">
           <a href="#">Забыли пароль?</a>
        </div>
      </div>

      <div class="field">
        <input type="submit" value="Войти">
      </div>

      <div class="signup-link">
        Еще нет аккаунта? <a href="{{ url_for('register') }}">Регистрация</a>
      </div>
    </form>
  </div>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
